@import 'tailwindcss';

/* Estilos globales opcionales */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #1f2937;
}

a {
  text-decoration: none;
  color: #45417D;
}

a:hover{
  background-color: #45417D;
  color: white;
}

.footer-link {
  color: #30CDBC;
}

.footer-link:hover {
  transition: all;
  color: white;
  background-color: transparent;
}

.skill-gradient {
  background: linear-gradient(to right, #45417D, #30CDBC);
  border-radius: 9999px; /* rounded-full */
  height: 100%;
}